.container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}
.fs-lg {
  font-size: 4rem;
  font-weight: bolder;
}
.btn-lg {
  padding: 0.9rem 1.5rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  background: #000;
  color: #fff;
  margin-top: 1rem;
}
